/*
 * Battery sense configuration for the Totem shield
 */

/ {
    /* This chosen node tells ZMK which device to use for battery readings. */
    chosen {
        zmk,battery = &vbatt;
    };

    vbatt: vbatt {
        compatible = "battery-voltage-divider";
        label = "BATTERY";
        io-channels = <&adc 2>;
        output-ohms = <840000>;
        full-ohms = <2000000>;
    };
};
